.header {
  max-width: 1440px;
  padding: 22px;
  background: white;
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
    }
    &_profile {
      display: flex;
      align-items: center;
      gap: 19px;
      &_createbtn {
        color: #52c41a;
        border: 1px solid #52c41a;
        width: 92px;
        height: 20px;
        font-size: 10px;
      }
      &_signin {
        cursor: pointer;
        transition: color 0.3s linear;
        & a {
          color: #8c8c8c;
        }
      }
      &_signin:hover {
        color: #52c41a;
      }

      &_signup button {
        color: #52c41a;
        border: #52c41a 1px solid;
      }
    }
  }
}
